body{
    background-image: url('/static/img/fondo_cuspal.jpeg');
    background-size: cover;
    background-position: center;
}

/* .banner {
    text-align: center;
    margin-bottom: 20px;
}
.banner img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Opcional: Agrega bordes redondeados */
/* }  */